@model BookCatalog.Models.BookModels.EditBookViewModel

<h2>Добавяне на книга</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="BookId" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AuthorId">Автор</label>
        <select asp-for="AuthorId" asp-items="ViewBag.AuthorId" class="form-control">
            <option value="">Please select the author</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="GenreId">Жанр</label>
        <select asp-for="GenreId" asp-items="ViewBag.GenreId" class="form-control">
            <option value="">Please select a genre</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile">Качи снимка</label>
        <input type="file" asp-for="ImageFile" class="form-control" />
        @if (Model.Image != null)
        {
            <img src="data:image;base64,@(Convert.ToBase64String(Model.Image))" width="100" />
        }
    </div>

    <button type="submit" class="btn btn-success">Запази</button>
</form>
